extends layout

block content
  h2 Signup Form
  div
    form(method='post', action='/send')
    div
      label(for='firstname') First Name
      input(name='firstname', type='text')
    div
      label(for='lastname') Last Name
      input(name='lastname', type='text')
    div
      label(for='email') E-mail Address
      input(name='email', type='text')
    div
      label(for='learning') Desired Areas of Learning
      textarea(name='learning')
    div
      label(for='contribute') What do you want to contribute (or Areas You Can Coach)?
      textarea(name='contribute')
    div
      label(for='datetime') Weekend Times/Days That Are Best for You
      textarea(name='datetime')
    div
      button(type='submit', class='submit') Submit