extends ./layout

block content

  div(style='margin: 25px 0')
    a(href='#', id='openModal') open modal

  h1 Example Form
  form(method='post', action='/send')
    fieldset
      legend
        | Inputs as descendents of labels (form legend). This doubles up as a long legend that can test word wrapping.
      p
        label
          | Text input
          input(type='text', value='default value that goes on and on without stopping or punctuation')
      p
        label
          | Email input
          input(type='email')
      p
        label
          | Search input
          input(type='search')
      p
        label
          | Tel input
          input(type='tel')
      p
        label
          | URL input
          input(type='url', placeholder='http://')
      p
        label
          | Password input
          input(type='password', value='password')
      p
        label
          | File input
          input(type='file')
      p
        label
          | Radio input
          input(type='radio', name='rad')
      p
        label
          | Checkbox input
          input(type='checkbox')
      p
        label
          input(type='radio', name='rad')
          | Radio input
      p
        label
          input(type='checkbox')
          | Checkbox input
      p
        label
          | Select field
          select
            option Option 01
            option Option 02
      p
        label
          | Textarea
          textarea(cols='30', rows='5') Textarea text
    fieldset
      legend Inputs as siblings of labels
      p
        label(for='ic') Color input
        input#ic(type='color', value='#000000')
      p
        label(for='in') Number input
        input#in(type='number', min='0', max='10', value='5')
      p
        label(for='ir') Range input
        input#ir(type='range', value='10')
      p
        label(for='idd') Date input
        input#idd(type='date', value='1970-01-01')
      p
        label(for='idm') Month input
        input#idm(type='month', value='1970-01')
      p
        label(for='idw') Week input
        input#idw(type='week', value='1970-W01')
      p
        label(for='idt') Datetime input
        input#idt(type='datetime', value='1970-01-01T00:00:00Z')
      p
        label(for='idtl') Datetime-local input
        input#idtl(type='datetime-local', value='1970-01-01T00:00')
      p
        label(for='irb') Radio input
        input#irb(type='radio', name='rad')
      p
        label(for='icb') Checkbox input
        input#icb(type='checkbox')
      p
        input#irb2(type='radio', name='rad')
        label(for='irb2') Radio input
      p
        input#icb2(type='checkbox')
        label(for='icb2') Checkbox input
      p
        label(for='s') Select field
        select#s
          option Option 01
          option Option 02
      p
        label(for='t') Textarea
        textarea#t(cols='30', rows='5') Textarea text
    fieldset
      legend Clickable inputs and buttons
      p
        input(type='image', src='http://lorempixel.com/90/24', alt='Image (input)')
      p
        input(type='reset', value='Reset (input)')
      p
        input(type='button', value='Button (input)')
      p
        input(type='submit', value='Submit (input)')
      p
        input(type='submit', value='Disabled (input)', disabled='disabled')
      p
        button(type='reset') Reset (button)
      p
        button(type='button') Button (button)
      p
        button(type='submit') Submit (button)
      p
        button(type='submit', disabled='disabled') Disabled (button)
    fieldset#boxsize
      legend box-sizing tests
      div
        input(type='text', value='text')
      div
        input(type='email', value='email')
      div
        input(type='search', value='search')
      div
        input(type='url', value='http://example.com')
      div
        input(type='password', value='password')
      div
        input(type='color', value='#000000')
      div
        input(type='number', value='5')
      div
        input(type='range', value='10')
      div
        input(type='date', value='1970-01-01')
      div
        input(type='month', value='1970-01')
      div
        input(type='week', value='1970-W01')
      div
        input(type='datetime', value='1970-01-01T00:00:00Z')
      div
        input(type='datetime-local', value='1970-01-01T00:00')
      div
        input(type='radio')
      div
        input(type='checkbox')
      div
        select
          option Option 01
          option Option 02
      div
        textarea(cols='30', rows='5') Textarea text
      div
        input(type='image', src='http://lorempixel.com/90/24', alt='Image (input)')
      div
        input(type='reset', value='Reset (input)')
      div
        input(type='button', value='Button (input)')
      div
        input(type='submit', value='Submit (input)')
      div
        button(type='reset') Reset (button)
      div
        button(type='button') Button (button)
      div
        button(type='submit') Submit (button)

